@font-face {
  font-family: JetbrainMonoNerdFont; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFontMono-Regular.ttf); /* url of the font */
}
@font-face {
  font-family: JetbrainMonoNerdFontBold; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFontMono-Bold.ttf); /* url of the font */
}

@font-face {
  font-family: ComicShannsMonoNerdFont; /* set name */
  src: url(assets/fonts/ComicShannsMonoNerdFontMono-Regular.woff); /* url of the font */
}
@font-face {
  font-family: JetbrainMonoNerdFontExtraBold; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFont-ExtraBold.ttf); /* url of the font */
}
@font-face {
  font-family: JetbrainMonoNerdFontSemiBold; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFontMono-SemiBold.ttf); /* url of the font */
}
@font-face {
  font-family: JetbrainMonoNerdFontLight; /* set name */
  src: url(assets/fonts/JetbrainMonoNerdFont/JetBrainsMonoNerdFontMono-Light.ttf); /* url of the font */
}


body {
  background-color: #000000;
     color: #ffffff;
       font-family: JetbrainMonoNerdFont; 
}
p {
  font-family: JetbrainMonoNerdFontLight; 

}
h1{
  font-family: JetbrainMonoNerdFontBold; 

}
h2{
  font-family: JetbrainMonoNerdFontSemiBold; 

}



.TitleYellow {
  color: #ffd900;
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF,
   0 0 20px #ffd900, 0 0 30px #ffd900,0 0 40px #ffd900,0 0 55px #ffd900,0 0 75px #ffd900;
color: #FFFFFF;
background: #000000;
}
.Link {
  color: #ffd900;
font-family: JetbrainMonoNerdFontSemiBold; 
underline: none;
cursor: pointer;
}

.Helpcursor
{
    cursor: help;
}
.warning {
  color: #ff0000;
  font-family: JetbrainMonoNerdFontBold;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #000000;
}
.navbutton {
  color: #fffbe3;
  font-family: JetbrainMonoNerdFontBold;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 0px;
  background-color: #000000;
  box-shadow: none;
}
.navbutton :hover{
  color: #ffe240;
  font-family: JetbrainMonoNerdFontExtraBold;
  text-decoration: none;
  padding: 0px 0px;
  cursor: pointer;
}

.systemstatus {
  color: #ffffff;
  font-family: JetbrainMonoNerdFontSemiBold;
  text-decoration: none;
  padding: 10px 10px;
  border-radius: 0px;
  background-color: #000000;
  box-shadow: none;
}

#pingDisplay {
  white-space: nowrap;
}

#pingDisplay2 {
  white-space: nowrap;
}